@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Inter', sans-serif;
  color: #0B0B0B;
}

.active{
  color: #FF444A;
  text-decoration-line: underline;
  font-weight: 700;
}